.locations-list-container {
  position: relative;
}
.room-list-table {
  overflow: auto;
  margin-bottom: 10em;
}
@media (max-width: 600px) {
  .list-top-location-controls {
    flex-direction: column;
  }
  .location-controls {
    width: 100%;
    min-height: 300px;
    margin: 0.5em 0;
  }
  .location-controls form .form-control {
    min-width: unset !important;
  }
}
